extends ../layouts/layout.pug

block content
  #content
    .container
      h1 Static HTML component prototyping
      ul
        li #[+link('/templates/form-validation/index.html', 'Form Validation')]
        li #[+link('/templates/', 'File Upload')]
