doctype html
html(lang="en")
  include ../../src/elements/head-validation.pug
  body
    script.
      document.body.className = ((document.body.className) ? document.body.className + ' has-js' : 'has-js');
    include ../../node_modules/parliamentuk-pugin/src/elements/_elements.pug
    include ../../node_modules/parliamentuk-pugin/src/components/header.pug
    main
      block content
    include ../../node_modules/parliamentuk-pugin/src/components/footer.pug
    script(src="/javascripts/main.js")
    script(src="/javascripts/form-validation.js")
    block script
