extends ../../layouts/layout-validation.pug

block content
  #content
    .section
      .container
        h1 Client Side Validation
        +form('index.html', 'post')
          .input-wrapper
            h2 Form Field Validation
            +input--text('first-name', 'txtFirstName', 'First name(s)')(required, data-error='Please enter a first name')
            +input--text('last-name', 'txtLastName', 'Last name')(required, data-error='Please enter a last name')
            +input--validate('email', 'email', 'txtEmail', '[^@]+@[^@]+\\.[^@]+', null, 'Email', null)(data-error='Please enter a valid email address')
            +input--validate('text', 'telephone', 'txtPhone', null, '15', 'Phone', null)(data-error='Please enter a valid phone number')
            +input--validate('text', 'post-code', 'txtPostcode', '[0-9a-zA-Z ]{5,}', '8', 'Post code', null)(data-error='Please enter a valid post code')

            label(for='txtComment') Leave a comment
            textarea(name='comment-box', id='txtComment', required, data-error='Please leave a comment')

            +fieldset('Age range?')
              +radio--checkbox('radio', 'diversity-age', 'rdAge1', 'Prefer not to say')(required, data-error='Please choose one of the options')
              +radio--checkbox('radio', 'diversity-age', 'rdAge2', '18+')(required)
              +radio--checkbox('radio', 'diversity-age', 'rdAge3', '30+')(required)
              +radio--checkbox('radio', 'diversity-age', 'rdAge4', '45+')(required)

            +fieldset('Gender?')
              +radio--checkbox__inline('radio', 'diversity-gender', 'rdGen1', 'Prefer not to say')(required, data-error='Please choose one of the options')
              +radio--checkbox__inline('radio', 'diversity-gender', 'rdGen2', 'Male')
              +radio--checkbox__inline('radio', 'diversity-gender', 'rdGen3', 'Female')

            label(for='selContMeth') How do you wish to be contacted?
            select(name='contact-select', id='selContMeth', required, data-error='Please choose a method of contact')
              option(value='', disabled, selected) -- select option --
              option(value='Email') Email
              option(value='Phone') Phone

            +fieldset('Accept terms and conditions')
              +radio--checkbox('checkbox', 'terms', 'chkTerms', 'I accept the terms and conditions')(required, data-error='Please accept the terms and conditions')

          +button--submit('button-submit', 'btnSubmit', 'Submit', 'btn--primary')

        +form('index.html', 'post')
          .input-wrapper
            h2 Post Code Validation
            .input-group
              +input--validate('text', 'postcode', 'postcode', '[0-9a-zA-Z ]{5,}', '8', 'Enter your full post code, for example SW1A 0AA.', null)(data-error='Please enter a valid post code')
              button(class="btn--primary" type="submit") Find
